body{
 background-image: url("https://images.pexels.com/photos/1155574/pexels-photo-1155574.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");  
 background-repeat: no-repeat;
 background-size: cover;
 height:100vh;
 background-position:center center;
}

.container{
    padding-top:200px; 
}
.image{
    border: 5px solid white;
    border-radius: 50%;
    display: block;
    margin: auto auto;
}
h2{
    text-align: center;
    color: antiquewhite;
    font-family: 'Italianno', cursive;
    font-size: 45px;

}
h3{
    text-align: center;
    color:antiquewhite;
    font-family: 'Italianno', cursive;
    font-size: 30px;
}
